/* GLOBAL */
.app {
  max-width: 1280px;
  min-height: 60vh;
  margin: 5rem auto;
  padding: 0;
  text-align: center;
  display: flex;
  background-color: #ffffff40;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* icons */
.icon {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #0902ff60;
}

.link:hover,
.icon:hover,
.link:hover .icon {
  color: #0902ff90;
}

/* color scheme */
.red {
  color: #ff4069;
}

.green {
  color: green;
}

.white {
  color: white;
}

/* APP COMPONENT */
.header-navbar-container {
  display: flex;
  flex-direction: column;
}

/* display container */
.main {
  flex: 1;
  background-color: #ffffff20;
  padding: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background: linear-gradient(90deg, #ffffff30 0%, #00000010 100%);
}

/* transactions container */
.transactions-container {
  max-height: 80vh;
}

.transactions-container > * {
  background-color: #ffffff70;
  border-radius: 16px;
}
