@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

/* Todo: Refactor all CSS stylings */

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--sans);
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/bg.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

li {
  list-style: none;
}
